@CHARSET "UTF-8";

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.hero-feature img {
	width: 252.5px; 
	height:157.83px;
}

.jumbotron {
	text-align: center;
}

footer{
	margin: 50px 0;
	text-align: center;
}

.row h3{
	padding-left: 0.61em;
	border-left:20em;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #333333;
  opacity:0.8; /* I ADDED THIS LINE */ 
    }
}
